<!--  Editor de ecuaciones  -->
<details class="math">
  <summary>Editor de ecuaciones</summary>
  <p>
    <a class="md-button" onclick="OpenLatexEditor('equation-codecogs','url','es-es',false,'')">&#8750;</a>
    <a class="md-button" onclick="copy()"><i class="fas fa-copy"></i></a>
    <a class="md-button" onclick="clearContent()"><i class="fas fa-eraser"></i></a>
    <textarea id="equation-codecogs" spellcheck="false" class="codecogs"> </textarea>
  </p>
</details>
<!--  ¿Cómo comentar ecuaciones?  -->
<details class="question">
  <summary>¿Cómo comentar ecuaciones?</summary>
  <p>
    <ol>
      <li>Da click en <strong>Editor de ecuaciones</strong>.</li>
      <li>Da click en el botón en forma de integral cerrada: &#8750;. Se abrirá el editor en una nueva ventana. Escribe, utilizando <strong>sintaxis de LaTeX</strong>, la ecuación que quieres comentar. Puedes apoyarte con los botones del editor. Finalmente, cambia el formato <strong>gif</strong> por el formato <strong>svg</strong> (ver <a href="https://i.ibb.co/gRsDs5x/svg.png" target="_blank">imagen</a>) para obtener ecuaciones de alta calidad.</li>
      <li>Da click en el botón <strong>Copiar en el documento</strong>. La ventana se cerrará y aparecerá un código en el área de texto.</li>
      <li><strong>Copia</strong> el código dando click en el botón <i class="fas fa-copy"></i>.</li>
      <li>Escribe <strong>![]()</strong> en la sección de comentarios y <strong>pega</strong>, dentro de los paréntesis, el código copiado.</li>
    </ol>
  </p>
</details>


<!--  =========================================================================== -->
<!--  Link de la aplicación: https://github.com/settings/applications/1389294     -->
<div id="gitalk-container"></div>
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
  const gitalk = new Gitalk({
    clientID: '49e52610b695898378e1',
    clientSecret: '6cde6fb63df33888ca9a134af6c406d266053271',
    repo: 'v6',
    owner: 'phyfth',
    admin: ['phyfth'],
    id: location.pathname.slice(0, 50),
    distractionFreeMode: false,
    perPage: 5
});
gitalk.render('gitalk-container')
</script>
<!--  =========================================================================== -->
<!--  Copiar/borrar el contenido al dar click sobre el botón correspondiente      -->
<script>
  function copy() {
    let textarea = document.getElementById("equation-codecogs");
    textarea.select();
    document.execCommand("copy");
  }
  function clearContent(){
    document.getElementById("equation-codecogs").value='';
  }
</script>

